{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    <h1>{{ website }} index</h1>
    {% for category in categories %}
        <h2>{{loop.index}} / <a href="{{ path("category_show", {categoryName: category.name}) }}"> {{ category.name }}</a></h2> 
    {% else %}
        Aucune série trouvée.
    {% endfor %}
<a href="{{ path('app_index') }}">
    Retour à l'accueil
</a>
</main>
{% endblock %}