{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="">
    <h2>{{ program.title }}</h2>
    <p>{{ season.number}}</p>
    <p>{{ season.number}}</p>
    <p>{{ episode.number}} / {{ episode.title }}</p>
    <p>{{ episode.synopsis }}</p>
</main>
{% endblock %}