{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    <h1 class="text-primary">{{ website }} index</h1>
    {% for program in programs %}
        <h2>{{loop.index}} / <a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>
        <p>{{ program.synopsis }}</p>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
<a href="{{ path('app_index') }}">
    Retour à l'accueil
</a>
</main>
{% endblock %}