{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    <h2>{{ program.title }} - Catégorie : {{ program.category.name }}</h2>
    <p> {{program.country}} / {{program.year}} </p>
    <p>{{ program.synopsis }}</p>
    <p>{{ season.description}}</p>
    {% for episode in episodes %}
        {% if season.id == episode.season.id %}
            <p> {{ episode.title }}</p>
        {% endif %}
    {% endfor %}
</main>
{% endblock %}