{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    <h2>{{ program.title }} - Catégorie : {{ program.category.name }}</h2>
    <p> {{program.country}} / {{program.year}} </p>
    <p>{{ program.synopsis }}</p>
    {% for season in seasons %}
        {% if program.id == season.program.id %}
            <p><a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id }) }}">Saison {{ season.number }}</a></p>
        {% endif %}
    {% endfor %}
    <strong>Acteurs :</strong>
    <ul>
        {% for actor in program.actors %}
            <li><a href="{{ path("actor_show", { actorId: actor.id }) }}">{{ actor.firstname }} {{ actor.lastname }}</a></li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
</main>
{% endblock %}