{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    <strong>Acteur :</strong>
    <ul>
        <li>{{ actor.firstname }} {{ actor.lastname }}</li>
    </ul>
    <strong>Séries associées à {{ actor.firstname }} {{ actor.lastname }} :</strong>
    <ul>
        {% for actor in actor.programs %}
            <li>{{ actor.programs }}</li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
</main>
{% endblock %}